# Project exclude paths
/app/vendor/composer/
/app/vendor/doctrine/annotations/
/app/vendor/doctrine/cache/
/app/vendor/doctrine/collections/
/app/vendor/doctrine/common/
/app/vendor/doctrine/dbal/
/app/vendor/doctrine/deprecations/
/app/vendor/doctrine/event-manager/
/app/vendor/doctrine/inflector/
/app/vendor/doctrine/instantiator/
/app/vendor/doctrine/lexer/
/app/vendor/doctrine/orm/
/app/vendor/doctrine/persistence/
/app/vendor/fig/http-message-util/
/app/vendor/laravel/serializable-closure/
/app/vendor/monolog/monolog/
/app/vendor/php-di/invoker/
/app/vendor/php-di/php-di/
/app/vendor/php-di/phpdoc-reader/
/app/vendor/psr/cache/
/app/vendor/psr/container/
/app/vendor/psr/http-factory/
/app/vendor/psr/http-message/
/app/vendor/psr/http-server-handler/
/app/vendor/psr/http-server-middleware/
/app/vendor/psr/log/
/app/vendor/psr/simple-cache/
/app/vendor/sunrise/http-header/
/app/vendor/sunrise/http-message/
/app/vendor/sunrise/http-router/
/app/vendor/sunrise/http-server-request/
/app/vendor/sunrise/stream/
/app/vendor/sunrise/uri/
/app/vendor/symfony/cache/
/app/vendor/symfony/cache-contracts/
/app/vendor/symfony/console/
/app/vendor/symfony/deprecation-contracts/
/app/vendor/symfony/polyfill-ctype/
/app/vendor/symfony/polyfill-intl-grapheme/
/app/vendor/symfony/polyfill-intl-normalizer/
/app/vendor/symfony/polyfill-mbstring/
/app/vendor/symfony/polyfill-php72/
/app/vendor/symfony/polyfill-php73/
/app/vendor/symfony/polyfill-php80/
/app/vendor/symfony/service-contracts/
/app/vendor/symfony/string/
/app/vendor/symfony/var-exporter/
/app/vendor/symfony/yaml/
/app/vendor/twig/twig/