<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <header class="container">
        <div class="row">
            <div class="col-md-12">
                {% block header %}
                {% endblock %}
            </div>
        </div>
    </header>

    <div id="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer class="container">
        <div class="row">
            <div class="col-md-12">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </footer>

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>