<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header class="container">
        <div class="row mt-4">
            <div class="col-md-11">
                {% block header %}
                    {% include 'Partials/header.html.twig' %}
                {% endblock %}
            </div>
            <div id="db_state_container" class="col ms-2 w-32 h-32 mt-3" title="Database connection state">
                {% block db_state %}
                    {% include 'Partials/db_state.html.twig' %}
                {% endblock %}
                <br />
                <span id="db_online_state_text"></span>
            </div>
        </div>
    </header>

    <div id="main" class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    {% include 'content.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer class="container fixed-bottom">
        <div class="row">
            <div class="col-md-12">
                {% block footer %}
                    {% include 'Partials/footer.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </footer>

    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery-3.3.0.min.js"></script>
    <script src="/js/components/ActionNavBar.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>