body
    .w-32
        width: 32px
    .h-32
        height: 32px
header
    form
        border: 1px solid #a1a1a1
        border-radius: 5px
        box-shadow: 0 0 4px #a1a1a1
        height: 100px

        button
            margin: 24px 0

    div#db_state_container
        text-align: center

    i#db_online_state
        font-size: 2rem
        &[data-state="offline"]
            color: #000000
        &[data-state="connectable"]
            color: #ffc107
        &[data-state="online"]
            color: #29da88

footer
    position: fixed
    bottom: 0
    left: 0
    right: 0
    text-align: center
    background: #cde2ff


