{% block footer %}
    Copyright &copy; {{ 'now'|date('Y') }} Paul Allsopp (webtop)
    <a href="mailto:paul.allsopp@digital-pig.com">paul.allsopp@digital-pig.com</a>
    <span class="ms-5">Find this repo: <a href="https://github.com/webtop/Dataview" target="_blank">here</a></span>
{% endblock %}