<table class="table table-primary table-hover empty" id="main_content_table">
    <thead></thead>
    <tbody class="table-group-divider">
        <tr>
            <td>Please select a table from the drop down.</td>
        </tr>
    </tbody>
    <caption class="table-group-divider me-4">
        <div class="col invisible float-start" id="table_action_buttons">
            <button type="button" class="btn btn-primary" id="add_new_row" title="Edite Mode">
                <i class="bi-pencil"></i>
            </button>
        </div>
        <div class="col invisible float-end" id="table_nav_buttons">
            <button type="button" class="btn btn-primary" id="first" title="First Page">
                <i class="bi-chevron-bar-left"></i>
            </button>
            <button type="button" class="btn btn-primary" id="previous" title="Previous 20 Results">
                <i class="bi-chevron-compact-left"></i>
            </button>
            <button type="button" class="btn btn-primary" id="next" title="Next 20 Results">
                <i class="bi-chevron-compact-right"></i>
            </button>
            <button type="button" class="btn btn-primary" id="last" title="Last Page">
                <i class="bi-chevron-bar-right"></i>
            </button>
        </div>
    </caption>
</table>
