<table class="table table-primary table-hover empty" id="main_content_table">
    <thead></thead>
    <tbody class="table-group-divider">
        <tr>
            <td>Please select a table from the drop-down.</td>
        </tr>
    </tbody>
    <caption class="action_nav_bar">
        <div class="col invisible float-start" id="table_action_buttons">
            <button type="button" class="btn btn-primary bi-pencil" id="edit_row" title="Edit a record" data-action="edit"></button>
            <button type="button" class="btn btn-primary bi-plus-lg" id="add_row" title="Add a record" data-action="add"></button>
            <button type="button" class="btn btn-primary bi-trash" id="delete_row" title="Delete a record" data-action="delete"></button>
        </div>
        <div class="col invisible float-end" id="table_nav_buttons">
            <button type="button" class="btn btn-primary bi-chevron-bar-left" id="first" title="First Page" data-action="first"></button>
            <button type="button" class="btn btn-primary bi-chevron-compact-left" id="previous" title="Previous 20 Results" data-action="previous"></button>
            <button type="button" class="btn btn-primary bi-chevron-compact-right" id="next" title="Next 20 Results" data-action="next"></button>
            <button type="button" class="btn btn-primary bi-chevron-bar-right" id="last" title="Last Page" data-action="last"></button>
        </div>
    </caption>
</table>

<div id="floated_action_buttons">
    <button class="btn btn-sm btn-success bi-check-lg m-1" id="save_edit"></button>
    <button class="btn btn-sm btn-danger bi-x-lg m-1" id="cancel_edit"></button>
</div>