<table class="table table-primary table-hover empty" id="main_content_table">
    <thead></thead>
    <tbody class="table-group-divider">
        <tr>
            <td>Please select a table from the drop-down.</td>
        </tr>
    </tbody>
    <caption class="">
        <div class="col invisible float-start" id="table_action_buttons">
            <button type="button" class="btn btn-primary" id="edit_row" title="Edit a record">
                <i class="bi-pencil"></i>
            </button>
            <button type="button" class="btn btn-primary" id="add_row" title="Add a record">
                <i class="bi-plus"></i>
            </button>
            <button type="button" class="btn btn-primary" id="delete_row" title="Delete a record">
                <i class="bi-trash"></i>
            </button>
        </div>
        <div class="col invisible float-end" id="table_nav_buttons">
            <button type="button" class="btn btn-primary" id="first" title="First Page">
                <i class="bi-chevron-bar-left"></i>
            </button>
            <button type="button" class="btn btn-primary" id="previous" title="Previous 20 Results">
                <i class="bi-chevron-compact-left"></i>
            </button>
            <button type="button" class="btn btn-primary" id="next" title="Next 20 Results">
                <i class="bi-chevron-compact-right"></i>
            </button>
            <button type="button" class="btn btn-primary" id="last" title="Last Page">
                <i class="bi-chevron-bar-right"></i>
            </button>
        </div>
    </caption>
</table>

<div id="floated_action_buttons">
    <button class="btn btn-sm btn-success bi-check-lg m-1" id="save_edit"></button>
    <button class="btn btn-sm btn-danger bi-x-lg m-1" id="cancel_edit"></button>
</div>