<table class="table table-primary table-hover empty" id="main_content_table">
    <thead></thead>
    <tbody class="table-group-divider">
        <tr>
            <td>Please select a table from the drop down.</td>
        </tr>
    </tbody>
</table>
