{% extends 'Layouts/main.html.twig' %}

{% block content %}
<ul class="">
    <li>Test database credentials</li>
    <li>Connect to the database</li>
    <li>Table list will replace database form</li>
    <li>Select table to view contents</li>
    <li>Table action-bar will be displayed in the table footer (not yet built)</li>
</ul>
{% endblock %}
